<hr />
<div class="row">
  <div class="col-md-9 align-items-center">
    <p class="comment">{{ comment.body }}</p>
  </div>
  <app-manage-button
    *appUserRole="[Role.User, Role.Admin]; owner: comment.userId"
    class="col-md-3"
    [dispachDeleteAction]="onDelete"
    [isStoreDispatch]="false"
    (isOpen)="onShowEditChange($event)"
  ></app-manage-button>
  <div class="col">
    <app-comment-new
      [comment]="comment"
      [isEdit]="true"
      [isFormOpen]="isEditOpen"
      (openEvent)="onShowEditChange($event)"
    ></app-comment-new>
  </div>
</div>
