<div
  class="spinner align-middle justify-content-center align-items-end"
  *ngIf="loading"
>
  <div class="lds-dual-ring"></div>
</div>
<div class="alert alert-danger mt-2" role="alert" *ngIf="errorMes">
  {{ errorMes }}
</div>
<div class="row mt-3">
  <nav class="col-2">
    <button
      type="button"
      [routerLink]="['/questions/new']"
      class="btn btn-success"
    >
      New
    </button>
  </nav>
  <div class="col-10">
    <app-question *ngFor="let question of questions" [question]="question">
    </app-question>
  </div>
</div>
