<div class="row">
  <div class="answer-card card mt-3 col">
    <div class="row">
      <div class="card-body col-9">
        <p class="card-text">
          {{ answer.body }}
        </p>
      </div>

      <div class="col m-2">
        <app-manage-button
          *appUserRole="[Role.User, Role.Admin]; owner: answer.userId"
          (open)="onEditOpen($event)"
        ></app-manage-button>
      </div>
    </div>
    <hr />
    <app-answer-new
      *ngIf="isEditOpen"
      [isEdit]="true"
      [answer]="answer"
      (open)="onEditOpen($event)"
    ></app-answer-new>
  </div>
</div>
