<div class="container mt-3 text-center">
  <div class="row">
    <div class="col-md-6 col-sm-9 offset-3" *ngIf="!resetStatus; else resetSuccess">
      <div class="col-12 pb-5">
        <h1>Reset Password</h1>
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <small
        class="form-text text-danger"
        *ngIf="password.touched && password.invalid"
      >
        Please, provide the correct password
      </small>
      <small
        class="form-text text-danger"
        *ngIf="passwordConfirmation.touched && passwordConfirmation.invalid"
      >
        Please, provide the correct password confirmation
      </small>
      <small
        class="form-text text-danger"
        *ngIf="resetPasswordForm.errors?.confirmPasswordError"
      >
        Password confirmation does not match with password
      </small>
      <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            [class.is-invalid]="password.touched && password.invalid"
            id="password"
            placeholder="Password"
            formControlName="passwordConfirmation"
          />
        </div>
        <div class="form-group">
          <label for="password-confirmation">Password Confirmation</label>
          <input
            type="password"
            class="form-control"
            [class.is-invalid]="
              passwordConfirmation.touched &&
              (passwordConfirmation.invalid ||
                resetPasswordForm.errors?.confirmPasswordError)
            "
            id="password-confirmation"
            placeholder="Password Confirmation"
            formControlName="password"
          />
        </div>
        <input class="btn btn-primary w-100" type="submit" value="Submit" />
      </form>
    </div>
    <ng-template #resetSuccess>
      <div class="col-12 alert alert-success">
        Your password has been update <strong>successfuly</strong>.
      </div>
    </ng-template>
  </div>
</div>
