<div class="container h-75">
  <div class="row h-100 justify-content-center align-items-center text-center">
    <div class="col-md-6 col-sm-9" *ngIf="!forgotStatus; else forgotSuccess">
      <div class="col-12 pb-5">
        <h1>Forgot your password?</h1>
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <div class="col-12">
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
          <small
            class="form-text text-danger"
            *ngIf="email.touched && email.invalid"
          >
            Please, provide the correct email
          </small>
          <div class="form-group">
            <input
              class="form-control mt-2"
              [class.is-invalid]="email.touched && email.invalid"
              type="text"
              placeholder="Email"
              formControlName="email"
            />
            <div class="btn-group mt-2 w-25 float-left" role="group">
              <input
                class="btn btn-secondary"
                type="button"
                value="Back"
                (click)="onBack()"
              />
            </div>
            <div class="btn-group mt-2 w-50 float-right" role="group">
              <button class="btn btn-primary" type="submit">
                Submit
                <app-spiner *ngIf="isLoading"></app-spiner>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <ng-template #forgotSuccess>
      <div class="col-12 alert alert-success">
        Your password reset <strong>successfuly</strong>. Please, check your
        email.
      </div>
    </ng-template>
  </div>
</div>
